---
import { FaInstagram, FaTiktok } from 'react-icons/fa';
import { FaThreads, FaXTwitter } from 'react-icons/fa6';
import Paragraph from '../components/Paragraph.astro';
import TitleBlock from '../components/TitleBlock.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  ><TitleBlock
    title="kontakt 📧"
    image="https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg"
  />
  <Paragraph title="shop contact 👕">
    for questions related to your order contact my <a
      href="https://dashery.zendesk.com/hc/en-us/requests/new"
      target="_blank">supplier</a
    >
  </Paragraph>
  <Paragraph title="my socials 📱">
    <a
      class="flex items-center mb-2"
      href="https://www.instagram.com/gurls.life_/"
      target="_blank"
    >
      <FaInstagram />&nbsp;gurls.life_
    </a>
    <a
      class="flex items-center mb-2"
      href="https://www.instagram.com/meiden.life_/"
      target="_blank"
    >
      <FaInstagram />&nbsp;meiden.life_ 🇱🇺
    </a>
  </Paragraph>
</BaseLayout>
