---
interface Props {
  items: {
    title: string;
    image: string;
    href: string;
  }[];
}

const { items } = Astro.props;
---

{
  items.map((item, i) => (
    <a
      href={item.href}
      class={`flex items-center space-x-6 py-2 bg-transparent ${i !== items.length - 1 ? 'border-b border-gray-200' : ''} hover:bg-gray-50 transition`}
    >
      <img
        src={item.image}
        alt={item.title}
        class="w-1/3 aspect-3/2 object-cover rounded my-2"
      />
      <span class="w-2/3 text-lg font-semibold text-gray-800 overflow-hidden text-ellipsis line-clamp-3">
        {item.title}
      </span>
    </a>
  ))
}
