---
import Button from './Button';
---

<div class="my-6">
  <a href="https://shop.gurlslife.com" target="_blank" rel="noopener">
    <img src="https://i.ibb.co/VYx014gd/items-1.png" />
  </a>
  <Button text="all merge" href="https://shop.gurlslife.com" />
</div>
